# Data Wrangling Template

## Gather

In [151]:
import pandas as pd
import requests
import json
import os

from pandas.io.json import json_normalize
#import tweepy

df_twitter_arc_original = pd.read_csv('twitter-archive-enhanced.csv');
df_img_pred_original = pd.read_csv('image-predictions.tsv', sep='\t');

json_file = open('tweet_json.txt');
tweet_json = json.load(json_file);

list_dict = []
for row in tweet_json['tweet']:
    dict_tweet = {
        'tweet_id': row['id'],
        'retweet_count': row['retweet_count'],
        'favorite_count': row['favorite_count'],
        'retweeted': str(row['retweeted'])
    }
    list_dict.append(dict_tweet)
    
df_from_json = pd.DataFrame(list_dict)

df_twitter_arc_clean = df_twitter_arc_original.copy()
df_img_pred_clean = df_img_pred_original.copy()

In [152]:
df_from_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 4 columns):
favorite_count    2339 non-null int64
retweet_count     2339 non-null int64
retweeted         2339 non-null object
tweet_id          2339 non-null int64
dtypes: int64(3), object(1)
memory usage: 73.2+ KB

In [158]:
teste = pd.merge([df_twitter_arc_clean, df_from_json], how='right', on='tweet_id')

teste.info()

TypeError: merge() missing 1 required positional argument: 'right'

In [128]:
# Verificando registros duplicados.
sum(df_from_json.duplicated())

0

## Assess

In [2]:
df_twitter_arc_original.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

- Identificado que as colunas: in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id e retweeted_status_timestamp.

- Identificado que a coluna timestamp não está na formatação correta.

- Indentificado que as colunas doggo, floofer, pupper e puppo possuem valores "None".

In [3]:
df_twitter_arc_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [15]:
# Verificando registros duplicados.
sum(df_twitter_arc_original.duplicated())

0

- Identificado que as colunas expanded_urls também possuem registros nulos.
- Identificado que a coluna timestamp está como o tipo de dado object e deveria estar como data.

In [8]:
df_img_pred_original.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,"6,66021E+17",https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.0614285,True
1,"6,66029E+17",https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.07419169999999999,True,Rhodesian_ridgeback,0.07201,True
2,"6,66033E+17",https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.13858399999999998,True,bloodhound,0.11619700000000001,True
3,"6,66044E+17",https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,"6,66049E+17",https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

- Identificado que a coluna tweet_id com a formatação errada.

In [7]:
df_img_pred_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null object
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null object
p3_dog      2075 non-null bool
dtypes: bool(3), float64(1), int64(1), object(7)
memory usage: 152.1+ KB

In [16]:
# Verificando registros duplicados.
sum(df_img_pred_original.duplicated())

0

- Identificado que a coluna tweet_id com o tipo de dado object e de veria estar como int64.
- Identificado que as colunas p1_conf, p2_conf e p3_conf estão com o tipo de dado object e deveria estar como float

## Clean
#### Define

#### Code

In [142]:
df_twitter_arc_clean['timestamp'] = pd.to_datetime(df_twitter_arc_clean['timestamp'])
df_twitter_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

#### Test